<div class="content scroll container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Select User</h3>
        </div>
        <ul class="list-group">
            <a href="#" class="list-group-item" ng-click="profiles.onProfileSelect(username)"
                ng-class="{'active': (username === profiles.currentUser.username)}"
                ng-repeat="username in profiles.usernames">{{ username }}
                <i class="glyphicon glyphicon-ok" aria-hidden="true"
                    ng-if="username === profiles.currentUser.username"></i>
                <span ng-if="username === profiles.currentUser.username" class="sr-only">current user</span>
                <span class="glyphicon glyphicon-trash pull-right fade" ng-show="profiles.deleteMode"></span>
            </a>
        </ul>
    </div>
</div>
<footer class="container-fluid">
    <nav class="row">
        <div class="btn-group-nav btn-group-justified">
            <a ui-sref="newprofile" class="btn btn-primary btn-block" type="button">New Profile</a>
            <a ng-click="profiles.deleteMode = !profiles.deleteMode"
                    class="btn btn-primary btn-block"
                    ng-class="{'btn-danger': profiles.deleteMode}"
                    type="button">Delete Profile</a>
        </div>
    </nav>
</footer>
