*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Vagrant
.vagrant

# Ansible
deployment/ansible/roles/*
!deployment/ansible/roles/nih-wayfinding.*

# NodeJS
src/nih_wayfinding/node_modules
npm-debug.log

src/nih_wayfinding/.idea

# Emacs
*~

# MacOS
.DS_Store
