<leaflet class="content map double-footer"
         bounds="navigate.map.bounds"
         center="navigate.map.center"
         layers="navigate.map.layers"
         markers="navigate.map.markers"
         geojson="navigate.map.geojson">
</leaflet>

<footer class="container-fluid">
    <nav class="row">
        <div class="btn-group-nav btn-group-justified btn-group-temporary">
            <a ng-click="navigate.offCourse()" type="button" class="btn btn-primary btn-block">Off-Course</a>
            <a ng-click="navigate.nextStep()" type="button" class="btn btn-primary btn-block">Next Step</a>
        </div>
    </nav>
    <nav class="row">
        <div class="btn-group-nav btn-group-justified">
            <a ng-click="navigate.footer.left.onClick()" type="button" class="btn btn-primary btn-block">{{ navigate.footer.left.text }}</a>
            <a ng-click="navigate.footer.right.onClick()" type="button" class="btn btn-primary btn-block">{{ navigate.footer.right.text }}</a>
        </div>
    </nav>
</footer>
