<leaflet class="content map double-footer"
         bounds="navigate.map.bounds"
         center="navigate.map.center"
         layers="navigate.map.layers"
         legend="navigate.map.legend"
         geojson="navigate.map.geojson">
</leaflet>

<footer class="container-fluid">
    <nav class="row">
        <div class="btn-group-nav btn-group-justified">
            <a ui-sref="reroute" type="button" class="btn btn-primary btn-block">Reroute</a>
            <a ui-sref="report" type="button" class="btn btn-primary btn-block">Report</a>
        </div>
    </nav>
</footer>
