<leaflet class="content map double-footer"
         bounds="navigate.map.bounds"
         center="navigate.map.center"
         legend="navigate.map.legend"
         geojson="navigate.map.geojson">
</leaflet>

<footer class="container-fluid">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <button ui-sref="reroute" type="button" class="btn btn-primary btn-block">Reroute</button>
        </div>
        <div class="col-xs-6 col-md-6">
            <button ui-sref="report" type="button" class="btn btn-primary btn-block">Report</button>
        </div>
    </div>
</footer>
