.location-panel {
    height: 200px;
}

.location-icon {
  width: 360px;
  height: 280px;
}

.location-remove .options-grid button {
    border: solid 1px red;
}

footer .expanded {
    transition: height 0.5s ease;
    height: 40rem !important;

    .close {
        position: absolute;
        top: 6px;
        right: 22px;
    }
}

footer.hide-bottom {
    height: 0px;
}

footer.iconSelectReveal {
    transition: height 0.4s ease;
    height: 450px !important;
    .close {
        position: absolute;
        top: 6px;
        right: 22px;
    }
}

footer.iconUploadReveal {
    transition: height 0.4s ease;
    height: 250px !important;
    .close {
        position: absolute;
        top: 6px;
        right: 22px;
    }
}



