.location-panel {
    height: 200px;
}

footer.expanded {
    transition: height 0.5s ease;
    height: $footer-height + 300 !important;
}

footer .expanded {
    transition: height 0.5s ease;
    height: 300px !important;

    .close {
        position: absolute;
        top: 6px;
        right: 22px;
    }
}

footer.hide-bottom {
    height: 0px;
}

footer.dialogReveal {
    transition: height 0.4s ease;
    height: 450px !important;
    .close {
        position: absolute;
        top: 6px;
        right: 22px;
    }
}


