.options-grid {
  padding: 2em;
  width: 100%;
  clear: both;

  button {
    float: left;
    border-radius: 0;
    background-color: #eee;
    border: 0;
    padding: 5em 2em;
    margin-bottom: 2%;
    margin-right: 2%;
    border-right: 1px solid #fff;
    width: 32%;
    height: 100px;
  }

  button:nth-child(3n) {
    border-right: 0;
    margin-right: 0;
  }

  button:first-child:last-child {
    width: 100%;
    border-right: 0;
    margin-right: 0;
  }

  button:first-child:nth-last-child(2) {
    width: 49%;
    margin-right: 2%;
  }

  button:nth-child(2):last-child {
    border-right: 0;
    margin-right: 0;
    width: 49%;
  }

  * {
    box-sizing: border-box;
  }
}
