<div class="content scroll double-footer container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <h3>Locations</h3>
        </div>
        <div class="col-xs-6">
            <button ui-sref="locationsSelectType" class="btn btn-secondary btn-block pull-right" type="button">
                <span class="h4">+ Add Location</span>
            </button>
        </div>
    </div>

    <!-- Must pass the 'option' argument to the function in on-option-clicked for this to work -->
    <nih-options-grid options="locations.gridOptions" on-option-clicked="locations.optionClicked(option)"></nih-options-grid>
</div>
<footer class="container-fluid" ng-class="{expanded: locations.findAddressExpanded}">
    <div class="row" ng-class="{expanded: locations.findAddressExpanded}">
        <div class="col-md-6 col-xs-6">
            <h3>Find Address</h3>
        </div>
        <div class="col-md-6 col-xs-6">
            <input class="form-control pull-right"
                   type="text"
                   placeholder="Search Chicago..."
                   ng-model="locations.searchText"
                   ng-focus="locations.findAddressExpanded = true"
                   typeahead="location for location in locations.suggest($viewValue)"
                   typeahead-on-select="locations.search($item)"
                   typeahead-wait-ms="300"
                   typeahead-min-length="3" />
            <button type="button" class="close" aria-label="Close"
                    ng-if="locations.findAddressExpanded"
                    ng-click="locations.findAddressExpanded = false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <h3>Go for a Walk</h3>
        </div>
        <div class="col-md-6 col-xs-6">
            <button ui-sref="goforwalk" class="btn btn-primary btn-block pull-right" type="button">Start</button>
        </div>
    </div>
</footer>
