<div class="content scroll double-footer container-fluid">
    <div class="row">
        <div class="col-xs-9 col-md-9">
            <h4>Locations</h4>
        </div>
        <div class="col-xs-3 col-md-3">
            <button ui-sref="addlocation" class="btn btn-default btn-block pull-right" type="button">
                <span class="glyphicon glyphicon-plus"></span> Add Location
            </button>
        </div>
    </div>

    <nih-options-grid options="locations.gridOptions"></nih-options-grid>

</div>
<footer class="container-fluid" ng-class="{expanded: locations.findAddressExpanded}">
    <div class="row" ng-class="{expanded: locations.findAddressExpanded}">
        <div class="col-md-6 col-xs-6">
            <h4>Find Address</h4>
        </div>
        <div class="col-md-6 col-xs-6">
            <input class="form-control pull-right"
                   type="text"
                   placeholder="Search Chicago..."
                   ng-model="locations.searchText"
                   ng-submit="locations.search()"
                   ng-keyup="$event.keyCode === 13 ? locations.search() : null"
                   ng-focus="locations.findAddressExpanded = true"
                   typeahead="location for location in locations.suggest($viewValue)"
                   typeahead-wait-ms="300"
                   typeahead-min-length="3" />
            <button type="button" class="close" aria-label="Close"
                    ng-if="locations.findAddressExpanded"
                    ng-click="locations.findAddressExpanded = false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <h4>Go for a Walk</h4>
        </div>
        <div class="col-md-6 col-xs-6">
            <button ui-sref="routing" class="btn btn-primary btn-block pull-right" type="button">Start</button>
        </div>
    </div>
</footer>
