<div class="content scroll">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create New User {{ newprofile.displayUsername }}</h3>
            <p>Question {{ newprofile.step }}/7</p>
        </div>
        <div class="panel-body">
            <div ng-switch="newprofile.step">
                <div ng-switch-when="1">
                    <form name="newprofile.newusername" ng-submit="newprofile.setStep(2)">
                        <h2>New user name:</h2>
                        <input type="text" ng-model="newprofile.username"
                            ng-change="newprofile.checkUsername()" autofocus required />
                            <span class="text-danger" aria-disabled="newprofile.newusername.$valid"
                            ng-show="newprofile.newusername.$invalid">{{ newprofile.errorMsg }}</span>
                        <br /><br />
                        <button class="btn btn-primary btn-block" ng-disabled="newprofile.newusername.$invalid"
                            ng-click="newprofile.setStep(2)">Next</button>
                    </form>
                </div>
                <div ng-switch-when="2">
                    <div ng-hide="newprofile.assistanceTypeDialog" class="fade">
                        <h2>Do you use a wheelchair or other mobility assistance?</h2>
                        <div class="btn-group btn-group-justified" role="group"
                             aria-label="Select whether or not you use a wheelchair or other assistance">
                            <nih-options-grid options="newprofile.preferenceOpts.assistanceOpts"
                                              on-option-clicked="newprofile.setUsingAssistance(option)">
                            </nih-options-grid>
                        </div>
                    </div>
                    <div ng-hide="!newprofile.assistanceTypeDialog" class="fade">
                        <h2>Is your chair electric or manual?</h2>
                        <div class="btn-group btn-group-justified" role="group"
                             aria-label="Select assistance type">
                            <nih-options-grid options="newprofile.preferenceOpts.assistanceTypeOpts"
                                              on-option-clicked="newprofile.setAssistanceType(option)">
                            </nih-options-grid>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="3">
                    <h2>How comfortable are you on uneven surfaces</h2>
                    <div class="btn-group btn-group-justified" role="group"
                        aria-label="Select comfort on uneven terrain">
                        <nih-options-grid options="newprofile.preferenceOpts.steepTerrainOpts"
                                          on-option-clicked="newprofile.setSteepTerrainComfort(option)">
                        </nih-options-grid>
                    </div>
                </div>
                <div ng-switch-when="4">
                    <h2>How would you describe your walking speed? (This is to provide accurate walk time estimates and to choose safe intersection crossings.)</h2>
                    <div class="btn-group btn-group-justified" role="group"
                        aria-label="Select movement speed">
                        <nih-options-grid options="newprofile.preferenceOpts.speedOpts"
                                          on-option-clicked="newprofile.setSpeed(option)">
                        </nih-options-grid>
                    </div>
                </div>
                <div ng-switch-when="5">
                    <h2>Do you have a preference for non-crowded sidewalks over busy sidewalks</h2>
                    <div class="btn-group btn-group-justified" role="group"
                        aria-label="Select importance of busy or quiet locations">
                        <nih-options-grid options="newprofile.preferenceOpts.busyOpts"
                                          on-option-clicked="newprofile.setBusyness(option)">
                        </nih-options-grid>
                    </div>
                </div>
                <div ng-switch-when="6">
                    <h2>How important is an opportunity sit down to rest during your walk?</h2>
                    <div class="btn-group btn-group-justified" role="group"
                        aria-label="Select frequency of rest">
                        <nih-options-grid options="newprofile.preferenceOpts.restOpts"
                                          on-option-clicked="newprofile.setRestFrequency(option)">
                        </nih-options-grid>
                    </div>
                </div>
                <div ng-switch-when="7">
                    <h2>Favorite Locations</h2>
                    <p>If there are any locations you visit regularly, it can be useful to save them
                        as favorites Would you like to register a location now?</p>
                    <div class="btn-group btn-group-justified" role="group"
                        aria-label="Select whether to create a location">
                        <nih-options-grid options="newprofile.preferenceOpts.newLocOpts"
                                          on-option-clicked="newprofile.willCreateLocations(option)">
                        </nih-options-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
