<div class="content scroll">
    <div class="panel-body">
        <form name="locationsProfile.profile">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12" ng-class="{ 'has-error': locationsProfile.labelErrorMsg }">
                        <h4>Label</h4>
                        <input class="form-control pull-right"
                               name="locationName"
                               class="form-control"
                               placeholder="Enter a location name here..."
                               ng-model="locationsProfile.user.tempLocation.text"
                               ng-change="locationsProfile.checkLabel()"
                               autofocus required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="text-danger"
                            aria-disabled="!locationsProfile.labelErrorMsg"
                            ng-show="locationsProfile.labelErrorMsg">{{ locationsProfile.labelErrorMsg }}</span>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12" ng-class="{ 'has-error': locationsProfile.addressErrorMsg }">
                        <h4>Address</h4>
                        <input class="form-control pull-right"
                               type="text"
                               name="locationAddress"
                               class="form-control"
                               placeholder="Search Chicago..."
                               ng-model="locationsProfile.user.tempLocation.address"
                               ng-change="locationsProfile.checkAddress()"
                               typeahead="location as location.text for location in locationsProfile.suggest($viewValue)"
                               typeahead-on-select="locationsProfile.search($item.text, $item.magicKey)"
                               typeahead-wait-ms="300"
                               typeahead-min-length="3" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="text-danger"
                            aria-disabled="!locationsProfile.addressErrorMsg"
                            ng-show="locationsProfile.addressErrorMsg">{{ locationsProfile.addressErrorMsg }}</span>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <h4>Icon</h4>
                        <img class="location-icon" ng-src="{{ ::locationsProfile.user.tempLocation.img }}"/>
                    </div>
                    <div class="col-xs-6 col-md-9">
                        <div class="btn-group btn-group-justified" role="group">
                            <a role="button" class="btn btn-primary btn-block"
                                ng-click="locationsProfile.toggleIconSelectDialog()">Select Icon
                            </a>
                        </div>
                        <div class="btn-group btn-group-justified" role="group">
                            <a role="button" class="btn btn-primary btn-block"
                                ng-click="locationsProfile.toggleIconUploadDialog()">Upload Photo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer class="container-fluid">
    <nav class="row">
        <div class="btn-group-nav btn-group-justified">
            <a role="button"
               class="btn btn-primary btn-block"
               ng-disabled="locationsProfile.profile.$invalid"
               ng-click="locationsProfile.validateBeforeReview()">
                Finish
            </a>
        </div>
    </nav>
</footer>

<footer class="hide-bottom" ng-class="{iconSelectReveal: locationsProfile.showIconSelect}">
    <div class="col-xs-12">
        <h4>Select Image</h4>
        <button type="button" class="close" aria-label="Close"
                ng-if="locationsProfile.showIconSelect"
                ng-click="locationsProfile.showIconSelect = false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-xs-12">
        <nih-options-grid options="locationsProfile.imgOpts" on-option-clicked="locationsProfile.imgOptionClicked(option)"></nih-options-grid>
    </div>
</footer>

<footer class="hide-bottom" ng-class="{iconUploadReveal: locationsProfile.showIconUpload}">
    <div class="col-xs-12">
        <h4>Upload an Image</h4>
        <button type="button" class="close" aria-label="Close"
                ng-if="locationsProfile.showIconUpload"
                ng-click="locationsProfile.showIconUpload = false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-xs-12">
        <nih-options-grid options="locationsProfile.uploadOpts" on-option-clicked="locationsProfile.uploadOptionClicked(option)"></nih-options-grid>
    </div>
</footer>

