<div class="content scroll">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="locationsProfile.profile">
                <div class="row">
                    <h4>Label</h4>
                    <div class="col-xs-12 col-md-12">
                        <input class="form-control pull-right"
                               placeholder="Enter a location name here..."
                               ng-model="locationsProfile.workingLocation.text"/>
                    </div>
                </div>
                <div class="row">
                    <h4>Address</h4>
                    <div class="col-md-12 col-xs-12">
                        <input class="form-control pull-right"
                               type="text"
                               placeholder="Search Chicago..."
                               ng-model="locationsProfile.workingLocation.address"
                               typeahead="location for location in locationsProfile.suggest($viewValue)"
                               typeahead-on-select="locationsProfile.search($item)"
                               typeahead-wait-ms="300"
                               typeahead-min-length="3" />
                    </div>
                </div>
                <div class="row">
                    <h4>Icon</h4>
                    <div class="thumbnail col-xs-6 col-md-3">
                        <img src='http://lorempixel.com/300/200/'/>
                    </div>
                    <div class="col-xs-6 col-md-9">
                        <div class="btn-group btn-group-justified" role="group">
                            <a role="button" class="btn form-btn"
                                ng-click="locationsProfile.toggleIconSelectDialog()">Select Icon
                            </a>
                        </div>
                        <div class="btn-group btn-group-justified" role="group">
                            <a role="button" class="btn form-btn"
                                ng-click="locationsProfile.toggleIconUploadDialog()">Upload Photo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group btn-group-justified" role="group">
                        <a role="button"
                           class="btn form-btn"
                           ng-click="locationsProfile.validateBeforeReview()">
                            Finish
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="hide-bottom" ng-class="{iconSelectReveal: locationsProfile.showIconSelect}">
    <div class="col-md-12 col-xs-12">
        <h4>Select Image</h4>
        <button type="button" class="close" aria-label="Close"
                ng-if="locationsProfile.showIconSelect"
                ng-click="locationsProfile.showIconSelect = false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-md-12 col-xs-12">
        <nih-options-grid options="locationsProfile.imgOpts" on-option-clicked="locationsProfile.imgOptionClicked(option)"></nih-options-grid>
    </div>
</footer>

<footer class="hide-bottom" ng-class="{iconUploadReveal: locationsProfile.showIconUpload}">
    <div class="col-md-12 col-xs-12">
        <h4>Upload an Image</h4>
        <button type="button" class="close" aria-label="Close"
                ng-if="locationsProfile.showIconUpload"
                ng-click="locationsProfile.showIconUpload = false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-md-12 col-xs-12">
        <nih-options-grid options="locationsProfile.uploadOpts" on-option-clicked="locationsProfile.uploadOptionClicked(option)"></nih-options-grid>
    </div>
</footer>

