html {
  font-size: 10px;
  @media (max-width: $screen-xs) {
    font-size: 7px;
  }
}

body {
  margin: 0;
  height: 100%;
  font-size: strip_units($font-size-base) * 1em;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: geometricPrecision;
  margin-right: auto;
  margin-left: auto;
}

.content.scroll {
  margin-top: $header-height;
  margin-bottom: $footer-height;
  padding: 5rem $grid-gutter-width/2;
  width: 100%;
}

.content.map {
  overflow: hidden;
  position: fixed;
  top: $header-height;
  bottom: $footer-height;
  left: 0;
  right: 0;
}

.map-navigate {
  top: $navigate-height + $header-height !important;
}

.leaflet-marker-icon {
  -webkit-filter: hue-rotate(140deg);
  filter: hue-rotate(140deg);
}

.leaflet-control-zoom, .leaflet-control-layers {
  display: none;
}

.content.double-footer.scroll {
  margin-bottom: $footer-height * 2;
}

.content.double-footer.map {
  bottom: $footer-height * 2;
}

.content.double-footer ~ footer {
  height: $footer-height * 2;
}

.navigation-icon {
  width: 2.3rem;
  height: 2.3rem;
}

.content.no-footer {
  margin-bottom: 0;
}

.directions-table {
  width: 100%;
}

.direction-sign {
  padding-right: 1rem;
}

.direction-instruction {
  font-size: $font-size-h3;
  margin-bottom: 0;
  font-weight: normal;
}

.direction-description {
  color: $gray-light;
  font-size: $font-size-h4;
  margin-bottom: 2rem;
}

.route-overview {
  background-color: #fff;
}

.block {
  margin-bottom: $line-height-computed;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

img {
  max-width: 100%;
}

nav > .btn-group-nav-main {}

.homepage-locations {
  margin: 0 $grid-gutter-width/-2 -5rem;
  padding: 3rem $grid-gutter-width/2;
}

.overview-summary-container {
  background-color: $brand-primary;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  height: 6rem;
  padding: 0 $grid-gutter-width/2 0;
  position: absolute;
  top: 8rem;
  width: 100%;
  z-index: 20000;
}

.overview-summary {
  vertical-align: middle;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.homepage-wrapper {
  display: flex;
  background-color: #ddd;
  min-height: 100vh;
}

.homepage-whitebackground {
  background-color: #fff;
  margin: -5rem -1.5rem 0rem;
  padding: 5rem 1.5rem 2rem;
}

.navbar-header {
  float: left;
  display: block;
}

.icon-content {
  width: 2rem;
}
