body {
    margin: 0;
    height: 100%;

}

.content.scroll {
    margin-top: $header-height;
    margin-bottom: $footer-height;
}

.content.map {
    overflow: hidden;
    position: fixed;
    top: $header-height;
    bottom: $footer-height;
    left: 0;
    right: 0;
}

.content.double-footer.scroll {
    margin-bottom: $footer-height * 2;
}

.content.double-footer.map {
    bottom: $footer-height * 2;
}

.content.double-footer ~ footer {
    height: $footer-height * 2;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
