header {
    position: fixed;
    background: $navbar-default-bg;
    top: 0;
    width: 100%;
    z-index: 3000;
    height: $header-height;
    transition: background-color 400ms ease-in-out;
    &.mode-route {
        background-color: $brand-route;
    }
    &.mode-navigation {
        background-color: $brand-navigation;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
    background-color: $gray-lighter;
    transition: height 0.5s ease;
    height: $footer-height;

    .row {
        transition: height 0.5s ease;
        height: $footer-height;
    }

}

.navbar-actionheader {
    margin-top: 0;
    color: #fff;
}
