.fade {
  opacity: 1;
}
.fade.ng-hide-add.ng-hide-add-active,
.fade.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.fade.ng-hide {
  opacity: 0;
}
