.btn-nav-main {
  background-color: transparent;
  border-left: 1px solid transparentize(#fff, .7);
  bottom: 0;
  color: #fff !important;
  font-size: $font-size-h4;
  position: absolute !important;
  right: 0;
  top: 0;
  width: 6em;
  &:hover {
    background-color: #666;
  }
}

.btn-group-nav-main {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.btn {
  font-size: $font-size-h4;
  box-shadow: none !important;
  padding-top: .75em;
  white-space: normal;
  line-height: 1.3;
}

.btn-group-nav {
  height: 100%;
  &>.btn-block {
    background-color: #fff;
    color: $gray;
    border: 0;
    border: 1px solid $gray-lightest;
    border-width: 1px 1px 0 0;
    &:last-child {
      border-right: 0;
    }
    &:hover {
      background-color: $gray-lighter;
    }
    &.active {
      color: $brand-primary;
    }
    &.active-delete {
      color: $brand-danger;
    }
  }
}

.btn-img {
  font-size: $font-size-h3 !important;
}

.btn-homepage {
  height: 22rem;
  white-space: normal;
  text-align: left;
  background-color: #BAD9DA !important;
  background-size: cover;
}

.btn-group-temporary .btn {
  background-color: #aaa !important;
  border-bottom: 1px solid #c0c3c5 !important;
}

.btn-link {
  position: relative;
  top: .35rem;
}
