.btn-nav-main {
  background-color: transparent;
  border-left: 1px solid transparentize(#fff, .3);
  bottom: 0;
  color: #fff !important;
  font-size: $font-size-h4;
  position: absolute !important;
  right: 0;
  top: 0;
  width: 6em;
  &:hover {
    background-color: #666;
  }
}

.btn-group-nav-main {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.btn {
  font-size: $font-size-h4;
  box-shadow: none !important;
}

.btn-group-nav {
  height: 100%;
  &>.btn-block {
    background-color: $gray-light;
    border: 0;
    border-right: 1px solid #c0c3c5;
    &:last-child {
      border-right: 0;
    }
    &:hover {
      background-color: darken($gray-light, 10%);
    }
    &.active {
      color: #fff;
      background-color: $brand-primary;
    }
    &.active-delete {
      background-color: $brand-danger;
    }
  }
}

.btn-img {
  font-size: $font-size-h3 !important;
}

.btn-homepage {
  height: 22rem;
  white-space: normal;
  text-align: left;
  background-color: $brand-primary !important;
  background-size: cover;
}

.btn-group-temporary .btn {
  background-color: #aaa !important;
  border-bottom: 1px solid #c0c3c5 !important;
}
