.form-btn {
    // this handles hover and active state well
    @include button-variant(white, gray, white);
    padding: 10px;
    font-size: 22px;
}

.form-search {
  padding-left: 6rem;

}

.search-box {
  position: relative;
  & > .search-icon {
    position: absolute;
    margin: 1.8rem 1.6rem;
    pointer-events: none;
  }
  & > .dropdown-menu {
    right: 0;
    overflow: hidden;
  }
}
