.legend {
    padding: 6px 8px;
    font-size: 2rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 0;
    line-height: 1.4;
    font-family: $font-family-sans-serif;
    color: $gray-light;
    width: 20rem;
}

.info-label {
    margin-top: .3rem;
    margin-bottom: -.3rem;
}

.legend i {
    clear: both;
    width: 16px;
    height: 16px;
    float: left;
    opacity: 0.7;
    margin-right: 8px;
}
