header .notification {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $brand-secondary;
  transform: translateY(-100%) translateY(-1*$header-height);
  opacity: 0.8;
  color: white;
  overflow: hidden;
  &.active {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
  }
  td {
    padding: 1rem;
  }
}
