@font-face {
  font-family: 'FranklinGothic';
  src: url('fonts/franklin-gothic-urw-book.eot');
  src: url('fonts/franklin-gothic-urw-book.eot?#iefix') format('embedded-opentype'),
       url('fonts/franklin-gothic-urw-book.woff2') format('woff2'),
       url('fonts/franklin-gothic-urw-book.woff') format('woff'),
       url('fonts/franklin-gothic-urw-book.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothic';
  src: url('fonts/franklin-gothic-urw-demi.eot');
  src: url('fonts/franklin-gothic-urw-demi.eot?#iefix') format('embedded-opentype'),
       url('fonts/franklin-gothic-urw-demi.woff2') format('woff2'),
       url('fonts/franklin-gothic-urw-demi.woff') format('woff'),
       url('fonts/franklin-gothic-urw-demi.svg#ywftsvg') format('svg');
  font-weight: bold;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  &:first-child {
    margin-top: 0;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
  margin: 0;
}

.nobold {
  font-weight: normal !important;
}
