<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="nih">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header ng-controller="NavbarController as navbar" class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-cloak ui-sref="profiles">{{ navbar.config.title }}</a>
        </div>

        <div class="navbar-header pull-right">
          <button ng-if="navbar.config.back" type="button" class="btn btn-primary" ng-click="navbar.back()">
            <span class="glyphicon glyphicon-chevron-left"></span> Back
          </button>
          <div ng-if="!navbar.config.back" class="btn-group" dropdown>
            <button type="button" class="btn btn-primary navbar-button dropdown-toggle" dropdown-toggle ng-cloak>
              {{ navbar.config.rightButton.text }} <span ng-class="navbar.config.rightButton.imgclass"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a ui-sref="profiles">Switch User</a></li>
              <li><a ui-sref="locations">Locations</a></li>
            </ul>
          </div>
        </div>
        <div class="notification" ng-style="{height: navbar.alertHeight}">
            <span class="glyphicon"
                  ng-class="navbar.alert.imageClass"
                  ng-if="navbar.alert.imageClass"></span>
            <span>{{ navbar.alert.text }}</span>
            <span class="glyphicon glyphicon-remove pull-right"
                  ng-if="navbar.alert.closeButton"
                  ng-click="navbar.hideAlert()"></span>
        </div>
      </div>
    </header>

    <ui-view></ui-view>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/ngGeolocation/ngGeolocation.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/config.js"></script>
    <script src="scripts/profiles/module.js"></script>
    <script src="scripts/profiles/profile-model.js"></script>
    <script src="scripts/profiles/profile-service.js"></script>
    <script src="scripts/profiles/user-locations-service.js"></script>
    <script src="scripts/profiles/user-locations-stub.js"></script>
    <script src="scripts/geocoder/module.js"></script>
    <script src="scripts/geocoder/search-service.js"></script>
    <script src="scripts/mapping/module.js"></script>
    <script src="scripts/mapping/map-service.js"></script>
    <script src="scripts/mapping/map-control-service.js"></script>
    <script src="scripts/mapping/map-style-service.js"></script>
    <script src="scripts/notifications/module.js"></script>
    <script src="scripts/notifications/notifications-service.js"></script>
    <script src="scripts/routing/module.js"></script>
    <script src="scripts/routing/directions-service.js"></script>
    <script src="scripts/routing/distance-filter.js"></script>
    <script src="scripts/navigation/module.js"></script>
    <script src="scripts/navigation/navigation-service.js"></script>
    <script src="scripts/navigation/navigation-stub.js"></script>
    <script src="scripts/routing/routing-response-stub.js"></script>
    <script src="scripts/routing/turnamenities-service.js"></script>
    <script src="scripts/routing/rerouting/rerouting-options-service.js"></script>
    <script src="scripts/routing/rerouting/rerouting-options-stub.js"></script>
    <script src="scripts/routing/reporting/reporting-options-service.js"></script>
    <script src="scripts/routing/reporting/reporting-options-stub.js"></script>
    <script src="scripts/views/options-grid/module.js"></script>
    <script src="scripts/views/options-grid/options-grid-directive.js"></script>
    <script src="scripts/views/modals/module.js"></script>
    <script src="scripts/views/modals/confirm-controller.js"></script>
    <script src="scripts/views/modals/input-modal-controller.js"></script>
    <script src="scripts/views/modals/modal-service.js"></script>
    <script src="scripts/views/navbar/module.js"></script>
    <script src="scripts/views/navbar/navbar-controller.js"></script>
    <script src="scripts/views/navbar/navbar-service.js"></script>
    <script src="scripts/views/profile/module.js"></script>
    <script src="scripts/views/profile/profiles-controller.js"></script>
    <script src="scripts/views/profile/new-profile/module.js"></script>
    <script src="scripts/views/profile/new-profile/new-profile-controller.js"></script>
    <script src="scripts/views/locations/module.js"></script>
    <script src="scripts/views/locations/locations-controller.js"></script>
    <script src="scripts/views/locations/add-location/select-type/select-type-controller.js"></script>
    <script src="scripts/views/locations/add-location/location-profile/location-profile-controller.js"></script>
    <script src="scripts/views/locations/add-location/location-review/location-review-controller.js"></script>
    <script src="scripts/views/locations/add-location/location-another/location-another-controller.js"></script>
    <script src="scripts/views/routing/module.js"></script>
    <script src="scripts/views/routing/overview/overview-controller.js"></script>
    <script src="scripts/views/routing/directions/directions-controller.js"></script>
    <script src="scripts/views/routing/changeroute/changeroute-controller.js"></script>
    <script src="scripts/views/routing/goforwalk/goforwalk-controller.js"></script>
    <script src="scripts/views/navigate/module.js"></script>
    <script src="scripts/views/navigate/navigate-controller.js"></script>
    <script src="scripts/views/navigate/report/report-controller.js"></script>
    <script src="scripts/views/navigate/reroute/reroute-controller.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
</body>
</html>
